/* <!-- */
/* General styles */
body {
    margin: 0;
    padding: 0;
    border: 0; /* This removes the border around the viewport in old versions of IE */
    width: 100%;
    background: #333333;
}

a {
    color: darkslategray;
    text-decoration: none;
}

a:hover {
    color: #225799;
    text-decoration: none;
}

h1, h2, h3 {
    margin: .8em 0 .2em 0;
    padding: 0;
}

p {
    margin: .4em 0 .8em 0;
    padding: 0;
}

img {
    margin: 10px 0 5px;
}

/* Footer styles */
#footer {
    clear: both;
    float: left;
    width: 90%;
    font-size: 80%;
    padding: 20px;
    text-align: right;
    color: #cccc66; /*margin: 0;*/
    background: #333333;
}

/* Header styles */
#header {
    clear: both;
    float: left;
    width: 90%;
    font-size: 80%;
    padding: 20px;
    background: #333333;
}

/* 'widths' sub menu */
#layoutdims {
    clear: both;
    background: #eee;
    border-top: 4px solid #000;
    margin: 0;
    padding: 6px 15px !important;
    text-align: right;
}

/* column container */
.colmask {
    position: relative; /* This fixes the IE7 overflow hidden bug */
    clear: both;
    float: left;
    width: 100%; /* width of whole page */
    overflow: hidden; /* This chops off any overhanging divs */
}

/* common column settings */
.colright,
    .colmid,
    .colleft {
/*float:right;*/
    float: left;
    width: 100%;
    position: relative;
}

.col1,
    .col2,
    .col3 {
    float: left;
    position: relative;
    padding: 0 0 1em 0;
    overflow: hidden;
}

/* 2 Column (left menu) settings */
.leftmenu {
    background: #cccc66; /* right column background colour */
}

.leftmenu .colleft {
    right: 40%; /* right column width */
    background: #dee7ab; /* left column background colour */
}

.leftmenu .col1 {
    width: 60%; /* right column content width */
    left: 40%; /*100 % plus left column left padding*/
}

.leftmenu .col2 {
    width: 40%; /*left column content width (column width minus left and right padding) */
    left: 40%; /*( right column left and right padding ) plus ( left column left padding )*/
}

#left_panel {
/*font-size: 125%;*/
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 2%;
    background: #dee7ab;
}

#right_panel {
/*font-size: 125%;*/
    padding-top: 0;
    padding-left: 2%;
    padding-right: 2%;
    background: #cccc66;
}

.logo {
    padding: 5px 20px 20px 20px;
}

.hi {
    color: #b22222;
    font-weight: bolder;
    font-size: 125%;
}