#==============================================================================
$Id$
#==============================================================================
temp
*.iml
*.ipr
*.iws
R.java
ISearch*.java
bin
*.sh
*.start
*.emu
*.sdcard*
