#==============================================================================
#$Id$
#==============================================================================
* whitespace=!indent,trail,space
*.* whitespace
*.java ident
*.xml ident
*.txt ident
* ident
