# <!--
# /# #
#  Copyright (C) IntelliBitz Technologies.,  Muthu Ramadoss
#  168, Medavakkam Main Road, Madipakkam, Chennai 600091, Tamilnadu, India.
#  http://www.intellibitz.com
#  training@intellibitz.com
#  +91 44 2247 5106
#
#  This program is free software; you can redistribute it and/or
#  modify it under the terms of the GNU General Public License
#  as published by the Free Software Foundation; either version 2
#  of the License, or (at your option) any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program; if not, write to the Free Software
#  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#
#  STED, Copyright (C) 2007 IntelliBitz Technologies
#  STED comes with ABSOLUTELY NO WARRANTY;
#  This is free software, and you are welcome
#  to redistribute it under the GNU GPL conditions;
#
#  Visit http://www.gnu.org/ for GPL License terms.
# /
#-->

#<!--
# #
#  $Id: build.properties.sample 55 2007-05-19 05:55:34Z sushmu $
#  $HeadURL: svn+ssh://sushmu@svn.code.sf.net/p/sted/code/FontTransliterator/trunk/build.properties.sample $
# /
#-->

# ----------------------------------------------------------------------------------------------------
# $Header: /BPMS/ProjectRoot/Phase1/Development/build/build.properties.ref,v 1.2 2004/06/16 07:25:34 muthu Exp $
# ----------------------------------------------------------------------------------------------------

# ----------------------------------------------------------------------------------------------------
# # # # # # # # # # # # #  NOTE: Directory Path MUST Contain Forward Slash '/' # # # # # # # # # # #
# ----------------------------------------------------------------------------------------------------

# ----------------------------------------------------------------------------------------------------
# The JAVA Home directory.
# ----------------------------------------------------------------------------------------------------
JAVA_HOME=/opt/tools/jdk1.7.0_09

# ----------------------------------------------------------------------------------------------------
# APPLICATION RELATED
# ----------------------------------------------------------------------------------------------------

PROJECT_NAME=FontTransliterator
PROJECT_PATH=.
VERSION=0.8

SOURCE_PATH=${PROJECT_PATH}/src
OUT_PATH=${PROJECT_PATH}/build
DIST_PATH=${PROJECT_PATH}/dist
OUT_PROD_PATH=${OUT_PATH}/out/production/${PROJECT_NAME}
OUT_TEST_PATH=${OUT_PATH}/out/test/${PROJECT_NAME}
OUT_BIN_PATH=${OUT_PATH}/bin
STED.JAR_NAME=sted.jar
STED-WIDGETS.JAR_NAME=sted-widgets.jar
STED.JAR=${OUT_BIN_PATH}/${STED.JAR_NAME}
STED-WIDGETS.JAR=${OUT_BIN_PATH}/${STED-WIDGETS.JAR_NAME}
STED.ZIP_NAME=sted-${VERSION}.zip
STED.ZIP=${DIST_PATH}/${STED.ZIP_NAME}
STED-FULL.ZIP_NAME=sted-with-src-${VERSION}.zip
STED-FULL.ZIP=${DIST_PATH}/${STED-FULL.ZIP_NAME}

# ----------------------------------------------------------------------------------------------------
# END END END END END END END END END END END END END END END END END END END END END END END END END
# ----------------------------------------------------------------------------------------------------

# ----------------------------------------------------------------------------------------------------
# $Log: build.properties.ref,v $
# ----------------------------------------------------------------------------------------------------
