{% if not support_gadget %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
<title>{{ title }}</title>
</head>
<body>
{% endif %}
{% load admin_list i18n %}
<link rel="stylesheet" type="text/css" href="/media/django/changelists.css" />
<!-- Content -->
<div id="content" class="flex">
	<h1>{{ title }}</h1>
{% if flag_edit %}
<ul class="object-tools"><li><a href="add" class="addlink">Add {{ modelname }}</a></li></ul>
{% endif %}
<div id="content-main">
<div class="module" id="changelist">

{% block search %}{% search_form cl %}{% endblock %}
{% block result_list %}{% result_list cl %}{% endblock %}

</div>
</div>
	<br class="clear">
</div>
<!-- END Content -->
{% if not support_gadget %}
</body></html>
{% endif %}
