{% if not support_gadget %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
<title>{{ title }}</title>
</head>
<body>
{% endif %}
{% load admin_list i18n %}
<link rel="stylesheet" type="text/css" href="/media/django/forms.css" />
<!-- Content -->
<div id="content" class="colM">
	<h1>{{ title }}</h1>
	<ul class="object-tools"><li><a href="javascript: history.go(-1)" class="historylink">Back</a></li>
	</ul>
<div id="content-main">
<div>
<fieldset class="module aligned ()">

{% for result in results %}
<div class="form-row" >
  <label class="required">{{ result.label }}:</label> 
  {{ result.inner }}
</div>
{% endfor %}

</div>
</div>
	<br class="clear">
{% for detail in details %}
	<div class="module">
		<h2>{{ detail.title }}</h2>
		{% result_list detail %}
	</div>
	<br class="clear">
{% endfor %}
</div>
<!-- END Content -->
{% if not support_gadget %}
</body></html>
{% endif %}
