<?xml version="1.0" encoding="UTF-8"?>

<!--
     Copyright (C) 2008 http://mobeegal.in

        All Rights Reserved.

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<!--
    $Id::                                                                           $: Id of last commit
    $Rev::                                                                          $: Revision of last commit
    $Author::                                                                       $: Author of last commit
    $Date::                                                                         $: Date of last commit
-->
<!-- package name must be unique so suffix with "tests" so package loader doesn't ignore us -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.androidworks.navsys.wuffit.tests"
          android:versionCode="1"
          android:versionName="1.0.0"
        >

    <!-- We add an application tag here just so that we can indicate that
         this package needs to link against the android.test library,
         which is needed when building test cases. -->
    <application>
        <uses-library android:name="android.test.runner"/>
    </application>

    <!--
    This declares that this app uses the instrumentation test runner targeting
    the package of com.example.android.apis.  To run the tests use the command:
    "adb shell am instrument -w com.androidworks.navsys.wuffit.tests/android.test.InstrumentationTestRunner"
    -->
    <instrumentation android:name="android.test.InstrumentationTestRunner"
                     android:targetPackage="com.androidworks.navsys.wuffit"
                     android:label="Tests for WuffIT Tracker"/>

</manifest>
